/*Custom CSS*/
body {
  background-image: url("Wallpaper-eportfolio2.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  background-color: white;
  box-shadow: 2px 2px 2px;
}
.picmal{
  float: left;
  margin: 0 0 10px 10px;
}
